* {
  padding: 0%;
  margin: 0;
}

body {
  background-color: #00d1b9;
}

/*HEADER*/
header {
  display: flex;
  justify-content: center;
  height: 400px;
  background-position: 25% 35%;
  --opacidad-negro: 0.8;
  background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("assets/design1_image1.jpg");

}


/*TITULO*/
main {
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.titulo {
  background-color: black;
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: center;


}

h1 {
  color: white;
  font-family: 'Koulen', cursive;
  font-size: 60px;
}


/*NAVBAR*/
nav {
  position: sticky;
  width: 70px;
  margin-top: 50px;
  transition: all 0.3s linear;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .4);
}

nav li {
  height: 50px;
  position: relative;
}

nav li a {
  color: rgb(0, 0, 0);
  display: flex;
  height: 100%;
  width: 100%;
  line-height: 60px;
  padding-left: 15%;
  border-bottom: 1px solid rgba(0, 0, 0, .4);
  transition: all .1s linear;
  text-decoration: none;
  align-items: center;

}

nav li:nth-child(1) a {
  background: #F7DD2E;
}

nav li:nth-child(2) a {
  background: #F7DD2E;
}

nav li:nth-child(3) a {
  background: #F7DD2E;
}

nav li:nth-child(4) a {
  background: #F7DD2E;
}

nav li:nth-child(5) a {
  background: #F7DD2E;
}

ul li a span {
  display: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Koulen', cursive;
  font-size: 22px;
}

a:hover {
  z-index: 1;
  width: 200px;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
}

ul li:hover a span {
  padding-left: 15%;
  display: block;
  text-align: center;
}

/*ASIDE*/
aside {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

/*descripcionHOME*/
.contenthome {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}

.descripcionHome {
  font-family: 'Koulen', cursive;
  align-self: flex-start;
}

.descripcionHome h3 {
  color: #F7DD2E;
  font-size: 60px;
}

.descripcionHome p {
  font-size: 30px;
}

.menunav {
  display: flex;
}


/*IMAGEN REPRESENTATIVA Home*/
#imagen1content {


  width: 500px;
  border-radius: 10%;
}

/*imagen representativa about*/
#imagen2content {

  width: 500px;
  border-radius: 10%;


}

/*descripcionAbout*/

.descripcionAbout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Koulen', cursive;
  align-items: center;
  flex-direction: column;
}

.descripcionAbout h3 {
  color: #F7DD2E;
  font-size: 45px;
}

.descripcionAbout p {
  font-size: 25px;
  color: white;
}

.aboutmision {
  width: 400px;
 
  border-radius: 1%;
  padding: 1%;
  align-self: center;
}

.aboutvision {
  width: 400px;
 
  border-radius: 1%;
  padding: 1%;
  align-self: center;
}

.aboutginfo {
  width: 400px;
  
  border-radius: 1%;
  padding: 1%;
  align-self: center;
}



/*imagen representativa Contact*/
#imagen3content {

  width: 500px;
  border-radius: 10%;
}

/*descripcionCONTACT*/
.descripcionContact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Koulen', cursive;

}

.descripcionContact h3 {
  color: #F7DD2E;
  font-size: 60px;
}

.descripcionContact p {
  font-size: 50px;
  width: 1000px;
}
/*GameINFO*/
.Schedule {
  background-color: #F7DD2E;
  
  width: 40rem;
  table-layout: auto;
  border-spacing: 25px;
  border-radius: 5%;
  color: black;
  font-family: 'Koulen', cursive;
  display: flex;
  justify-content: center;
  font-size: 20px;

}


.condicionschedule {
  color: black;
  font-family: 'Koulen', cursive;
  align-items: center;
  
}
.condicionschedule h2{font-size: 30px;}
.condicionschedule p{font-size: 20px;}
.subcontent {
  color: black;
  font-family: 'Koulen', cursive;
  align-items: center;
 font-size: 20px;
}
/*RULES*/
.informationcontainer {
  color: black;
  font-family: 'Koulen', cursive;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  min-height: fit-content;
  width: 90%;
  align-items: center;
  text-align: center;

  
}
.informationcontainer h2{
  font-size:  35px; ;
}
.informationcontainer p{
  font-size:  20px; ;
}

.rulesinformation{
  color: black;
  font-family: 'Koulen', cursive;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
    min-height: fit-content;
    width: 90%;
}
.rulesinformation h2{font-size: 35px;
}
.rulesinformation li{font-size: 20px;
}
.rulesinformation h4{font-size: 25px;
}