* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: 'Koulen', cursive;

}



/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: fit-content;
  width: 100%;
  background-color: black;
}

/*NAV MENU*/
.navMenu {
  align-self: center;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.6em;
  text-transform: uppercase;
  display: inline-block;
  width: 150px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover~.dot {
  -webkit-transform: translateX(25px);
  transform: translateX(25px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover~.dot {
  -webkit-transform: translateX(180px);
  transform: translateX(180px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover~.dot {
  -webkit-transform: translateX(335px);
  transform: translateX(335px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover~.dot {
  -webkit-transform: translateX(510px);
  transform: translateX(510px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(5):hover~.dot {
  -webkit-transform: translateX(655px);
  transform: translateX(655px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(6):hover~.dot {
  -webkit-transform: translateX(795px);
  transform: translateX(795px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

/*LOGO*/
#LOGO {
  width: 300px;
}

/*TITULO*/
.Titulo {
  display: flex;
  justify-content: center;
  --opacidad-negro: 0.8;
  background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("assets/design1_image1.jpg");
  background-position: 0% 31%;
  height: 150px;

}

.Titulo h1 {
  align-self: center;
  font-size: 100px;
  color: rgb(255, 255, 255);
}

/*RULES*/
.mainRules {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: fit-content;

}

.BeforeRules {
  text-align: center;

}

.BeforeRules h2 {
  color: #fddb3a;
  font-size: 40px;
}

.BeforeRules h3 {
  color: #fddb3a;
  font-size: 35px;
}

.BeforeRules p {
  color: white;
  font-size: 20px;
}

.Rules {
  text-align: start;
  width: 90%;
}

.Rules h3 {
  color: #fddb3a;
  font-size: 40px;
}

.Rules ol {
  color: white;
  font-size: 25px;
}

.Rules p {
  color: white;
  font-size: 25px;
}

/*HOME*/
.mainHome {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: fit-content;
  width: 100%;
}

.ContentHome {
  width: 60%;

}

.ContentHome h3 {
  align-self: center;
  color: #fddb3a;
  font-size: 45px;
}

.ContentHome p {
  align-self: center;
  color: white;
  font-size: 30px;
}

#imagen1content {
  height: auto;
  width: 500px;
  align-self: flex-end;
  border-radius: 10%;
  margin-top: 25px;
}

/*ABOUT*/
.mainAbout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: fit-content;
  width: 100%;
}

.aboutcontent {
  width: 90%;
  text-align: start;
}

.aboutcontent h3 {
  align-self: center;
  color: #fddb3a;
  font-size: 40px;
}

.aboutcontent p {
  align-self: center;
  color: white;
  font-size: 30px;
}

#imagen2content {
  width: 500px;
  border-radius: 10%;
  margin-top: 25px;
}

/*GAME INFORMATION*/


.Tituloschedule {
  text-align: center;

}

.Tituloschedule h2 {
  color: #fddb3a;
  font-size: 40px;

}

.Tituloschedule p {
  color: white;
  font-size: 30px;
}

.scheduleC {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Schedule {
  color: black;
  background-color: #fddb3a;
  font-size: 30px;
  width: 50rem;
  table-layout: auto;
  border-spacing: 30px;
  border-radius: 5%;
  font-family: 'Koulen', cursive;
  display: flex;
  justify-content: center;

}

.Schedule th {
  text-align: center;
}

.Schedule td {
  text-align: center;
}

.subcontent {
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;

}



.location {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.location h2 {
  color: #fddb3a;
  font-size: 40px;
  text-align: center;
  width: 90%;
}

.location h3 {
  color: white;
  font-size: 25px;
  text-align: center;
}